.nav {
  .nav-item {
    margin: 8px 0;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    .identifier {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

/*** RWD ***/
@media (max-width: 414px) {
  .nav {
    display: flex;
    overflow-y: auto;
    .nav-item {
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 0 20px;
      text-align: right;
      .identifier {
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }
}
