{{ define "main" }}
<section class="timeline">
  <ul>
    <li>
      <div>
        <title>天堂遊戲有限公司</title>
        <time>2020-03 ~ </time>
      </div>
    </li>
    <li>
      <div>
        <title>黛寶拉股份有限公司</title>
        <time>2016-10 ~ 2020-02</time>
      </div>
    </li>
    <li>
      <div>
        <title>銘傳大學</title>
        <title>Ming Chuan University,MCU</title>
        <time>2011-09 ～ 2015-06</time>
      </div>
    </li>
  </ul>
</section>
<script>
  (function () {
    "use strict";

    // define variables
    var items = document.querySelectorAll(".timeline li");

    function isElementInViewport(el) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <=
          (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function callbackFunc() {
      for (var i = 0; i < items.length; i++) {
        if (isElementInViewport(items[i])) {
          items[i].classList.add("in-view");
        }
      }
    }

    // listen for events
    window.addEventListener("load", callbackFunc);
    window.addEventListener("resize", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
  })();
</script>
<style>
  .timeline ul {
    padding: 0px 0;
    color: #fff;
  }

  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0;
    padding-top: 15px;
    background: #fff;
  }
  /* 中間圓點 */
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  /* 事件框 */
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 350px;
    padding: 15px;
    background: #cb4b16;
  }
  /* arrow */
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li div {
    left: 45px;
  }

  .timeline ul li div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #cb4b16 transparent transparent;
  }

  title {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
  }
  time {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  /* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: #cb4b16;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  /* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
  }

  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
  }

  /* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }

  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }

  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }

  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }

  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
</style>
{{ end }}
